body {
    background-image: url("Background.jpg");
    opacity: 0.95;
}
.title {
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.grid {
    background-color: rgba(250, 235, 215, 0.403);
    margin: auto;
    border: 1px solid;
    height: 520px;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
  }
  
.grid div {
    height: 100px;
    width: 100px;
    border: 1px dashed;
    margin: 6%
  }

.grid .row_1  {
    margin-top: 10px;
}
.grid .row_2  {
    margin-top: 10px;
}
.grid .row_3  {
    margin-top: 10px;
}

.button {
    margin: auto;
    border: 1px;
    color: black;
    padding: 10px 16px;
    background-color: antiquewhite;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    transform: translateY(-64%);
}